* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #484747;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  color: #484747;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.p a:hover {
  transition: 0.4s ease-in;
  background-color:lightblue ;
}



.c :hover {
  transition: 0.4s ease-in;
  background-color: #a7a1a1;
  border-radius: 5px;
  
}

.second-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: #000;
  height: 50px;
  padding: 10px 20px;

}

.second-nav{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items a {
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

.nav-items a:hover{
  transition: 0.3s ease-in;
  color: #a7a1a1;


}



/* App.css */

.image-cont {
  height: 80vh;
  width: 100vw;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fotoja {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width to make it smaller */
  max-width: 500px; /* Limit maximum width */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-form-container input[type='text'],
.search-form-container input[type='date'],
.search-form-container input[type='number'],
.search-form-container select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.search-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:  rgb(94, 188, 219);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form-container button:hover {
  background-color:#3c6da2;
}




.under{
  background-color: lightblue;
  width: 100vw;
  height: 10vh;
}




